
* {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.app-container-welcome-w {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #f8f9fa;
    color: #333333;
    font-family: 'Inter', sans-serif;
    transition: background 0.3s, color 0.3s;
}

.main-content-w {
    flex-grow: 1;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding top: 80px;
}

.title {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -200px;
    color: #333333;
    transition: color 0.3s ease-in-out;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 190px;
    margin-bottom: 9%;
}

.face-recognition-container-w {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: auto;
}

.text-animation {
    opacity: 0; /* Comienza invisible */
    transform: translateY(20px); /* Comienza abajo */
    filter: blur(5px); /* Comienza borroso */
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease; /* Transiciones suaves */
  }
  
  /* Clase cuando el texto se vuelve visible */
  .text-animation.visible {
    opacity: 1; /* Totalmente visible */
    transform: translateY(0); /* Se mueve a su lugar */
    filter: blur(0); /* Elimina el desenfoque */
  }
  
  /* Animación para los títulos */
  .title, h1 {
    animation: fadeInFromBottom 1s ease-out forwards;
  }
  
  @keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }


.footer {
  margin-top: auto;
}
