html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  background-color: #f8f9fa;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 30px; /* Espaciado para que no quede pegado a los bordes */
  margin-top: 20px;
}

/* Contenedor principal */
.app-container-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #333333;
  transition: background 0.3s, color 0.3s;
}

/* Contenido principal alineado a la izquierda con más margen arriba */
.main-content {
  flex-grow: 1;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 80px; /* MÁS ESPACIO AL INICIO */
}

.spline-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10%;
  height: 87vh;
  margin-top: 20px;
  width: 100%;
  margin-left: 6%;
  clip-path: inset(0% 15% 0% 5%);
  flex-grow: 1; /* Asegura que ocupe todo el espacio disponible */
}

.spline-container iframe {
  border: none;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
  object-fit: cover; /* Asegura que la imagen de la escena se ajuste bien */
}

/* Título "Reconocimiento Facial" */
.title  {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px; 
  margin-top: 200px ;
  color: #333333;
  transition: color 0.3s ease-in-out;
  margin-left: -250px;
}

/* Título principal "IUDC Sistema de Control de Acceso Entrada" */
h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-top: 90px; 
  margin-left: 5.5%;
  margin-bottom: -9%;
}

.face-recognition-container {
  display: flex;
  position: absolute;
  top: 10%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 40%;
}

.text-animation {
  opacity: 0; /* Comienza invisible */
  transform: translateY(20px); /* Comienza abajo */
  filter: blur(5px); /* Comienza borroso */
  transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease; /* Transiciones suaves */
}

/* Clase cuando el texto se vuelve visible */
.text-animation.visible {
  opacity: 1; /* Totalmente visible */
  transform: translateY(0); /* Se mueve a su lugar */
  filter: blur(0); /* Elimina el desenfoque */
}

/* Animación para los títulos */
.title, h1 {
  animation: fadeInFromBottom 1s ease-out forwards;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}