* {
  margin: 0;
  padding: 0;
}
  
.footer-ft {
  background-color: #00102D;
  color: #fff;
  padding: 7rem 3rem 3rem;
  position: relative;
}

.footer-content-ft {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
}

.footer-logo-ft img {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: 2%;
  transform: translateY(-55px);
}

.footer-links-ft {
  display: flex;
  flex: 2;
  gap: 100px;
  justify-content: start;
}

.footer-column-est {
  position: absolute;
  left: 850px;
  min-width: 200px;
  transform: translateY(-110px);
}

.footer-column-dct{
  position: absolute;
  left: 1150px;
  min-width: 200px;
  transform: translateY(-110px);
}

.footer-column-est p, .footer-column-dct p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Listas dentro de cada columna */
.footer-list-est a, .footer-list-dct a {
  color: #fff;
  text-decoration: none;
  display: flex;
  margin-bottom: 5px;
}

.footer-list-est a:hover, .footer-list-dct a:hover {
  color: #b4b4b4;
}

.footer-divider-ft {
  border: none;
  height: 1px;
  background-color: white;
  margin: 20px auto;
  width: 95%;
}

.footer-container-ft {
  text-align: center;
  font-size: 14px;
}

.buttons-social-ft {
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.buttons-social-ft a {
  color: white;
  font-size: 18px;
  padding: 10px;
  transition: 0.3s;
}

.buttons-social-ft a:hover {
  color: #b4b4b4;
}
